<div class="full-width container home-container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-8">
          <div class="row justify-content-center">
            <h1 class="raleway-bold primary">¡Bienvenido!</h1>
          </div>
          <div class="row justify-content-center main-info">
            <div class="col-12">
              <div class="row">
                <h1 class="raleway-bold">Francisco José Piedrahita</h1>
              </div>
              <div class="row">
                <p class="gilroy-light accent">Aliado desde Sep. 2017</p>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="gilroy-light">Nutipuntos:</h3>
                </div>
                <div class="col-4">
                  <h3 class="gilroy-light nutipoints-value">562.310</h3>
                </div>
                <div class="col-2">
                  <p>ver más</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h3 class="gilroy-light">Referidos:</h3>
                </div>
                <div class="col-4">
                  <h3 class="gilroy-light refers-value">52</h3>
                </div>
                <div class="col-2">
                  <p>ver más</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <h5 class="gilroy-light">Puntos redimidos:</h5>
                </div>
                <div class="col-4">
                  <h5 class="gilroy-light redems-value">5609</h5>
                </div>
                <div class="col-2">
                  <p>ver más</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center main-options-container">
            <div class="col-6">
              <button class="btn action-button btn-add gilroy-light">Agregar Referido</button>
            </div>
            <div class="col-6">
              <button class="btn second-button btn-redem gilroy-light">Redimir Puntos</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <img class="banner-info-img" src="https://scontent.feoh1-1.fna.fbcdn.net/v/t1.0-9/60013323_10214453745234306_8131135907584540672_n.jpg?_nc_cat=108&_nc_ht=scontent.feoh1-1.fna&oh=59a04733b14d2c706577c1c9a143b176&oe=5D71AB69" />
            </div>
          </div>
        </div>
    </div>
</div>