.home-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.main-info {
    padding: 30px;
    border-radius: 10px;
    border: solid 2px #DEDEDE;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-options-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-add {
    width: 100%;
}

.btn-redem {
    width: 100%;
}

.banner-info-img {
    width: 100%;
    height: 150px;
}

.nutipoints-value {
    color: rgb(189, 27, 27);
}

.refers-value {
    color: rgb(32, 189, 27);
}

.redems-value {
    color: rgb(189, 173, 27);
}