<div class="full-width container login-container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-12">
          <div class="row justify-content-center main-info">
            <div class="col-12">
              <div class="row justify-content-center">
                <img class="main-logo" src="assets/shared/login/logo.png" />
              </div>
              <div class="row justify-content-center login-text">
                <h1 class="gilroy-light primary">Iniciar Sesión</h1>
              </div>
              <div class="row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" class="form-input gilroy-light" placeholder="Correo Electrónico" aria-label="Correo Electrónico" aria-describedby="email">
                </div>
              </div>
              <div class="row">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                  </div>
                  <input type="password" class="form-input gilroy-light" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="password">
                </div>
              </div>
              <div class="row justify-content-center">
                <p class="gilroy-light accent">¿Haz olvidado tu contraseña?</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center main-options-container">
            <div class="col-12">
              <button class="btn action-button btn-login gilroy-light" routerLink="/home">Ingresar</button>
            </div>
          </div>
        </div>
    </div>
</div>