.login-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.main-info {
    padding: 30px;
    border-radius: 10px;
    border: solid 2px #364652;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-logo {
    width: 350px;
    height: 200px;
}

.login-text {
    padding: 10px;
}

.btn-login {
    width: 100%;
}