.main-footer {
    color: white;
    background: #243954;
}

.footer-menu-item {
    padding: 4px;
    margin-left: 40px;
}

.footer-social {
    margin-bottom: 10px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-left: 10px;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}